<div class="content">
    <div class="text-center">
      <img src="./assets/img/logo/logo.png" alt="logo futbolEcomerce">
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
        <p>Somos<em> Futbol no tan libre, </em>Bienvenido a nuestra tienda. Aquí encontrarás una variada selección de indumentaria, 
  con un enfoque especial en camisetas de fútbol. Nos apasiona ofrecer productos de calidad 
  que conecten con tu estilo y tu pasión por el deporte. ¡Gracias por visitarnos, esperamos que disfrutes tu experiencia!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            AGUANTE EL FULBO <cite title="Source Title">- futbolEcomerce Inc.</cite>
        </figcaption>
       </figure>
   
</div>